<a href="https://colab.research.google.com/github/GRX782/cursoTaller1/blob/main/cadenas_car%C3%A1cteres.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Curso Taller 1** - Dr-Ing. José Andrés Araya Obando

En la lección anterior te expliqué acerca de los tipos de datos , cómo almacenarlos en variables y como utilizar todo esto junto con funciones nativas que posee Python. En esta ocasión nos vamos a concentrar exclusivamente en los tipos de datos "string" o "cadenas de carácteres"

⏩Pregúntale a la IA ¿qué es una ***función nativa*** en Phyton? Acá te dejo algunas pistas:

In [ ]:
type("texto")
len([25,35.8,True,"casa"])

4

☹ En un notebook, por defecto *solo se muestra el resultado de la última instrucción en una celda*. Si quisieras que se muestren todos los resultados puedes usar print() que también es una función nativa.❗Debes tener mucho cuidado con el uso de los paréntesis, ninguno puede quedar abierto.

In [ ]:
print(type("texto"))
print(len([25,35.8,True,"casa"]))

<class 'str'>
4

**Paso 1.** Determinemos la longitud de una cadena de carácteres. <br>
⏩ Recuerda que también contabiliza los espacios en blanco entre cada una de las palabras

In [ ]:
nombre_curso = "Taller de Programación con Python"
print(nombre_curso)

Taller de Programación con Python

In [ ]:
len(nombre_curso)

33

**Paso 2.** Ahora vamos a consultar por un carácter en específico. Para ello, vamos a utilizar la **indexación** (acceder por índice). Instrucción: justo después del nombre de la variable se indica el índice (en inglés, index) dentro de unos corchetes []. Comprende entonces que las cadenas son secuencias y se accede a cada carácter por su índice. **Python cuenta desde cero**, es decir, al primer carácter le asigna un valor de cero.  <br>
T:(0) a:(1) l:(2) l:(3) e:(4) r:(5) " "(6) d:(7) e:(8) " "(9) P:(10) r:(11) o:(12) g:(13) r:(14) a:(15) m:(16) a:(17) c:(18) i:(19) ó:(20) n:(21)

In [ ]:
print(nombre_curso[5])
print(nombre_curso[13])
print(nombre_curso[19])

r
g
i

In [ ]:
cadena = "Hola Mundo"
print(f"""El carácter que se encuentra justo en el índice 6 es {cadena[6]}""")

El carácter que se encuentra justo en el índice 6 es u

☹ Si el índice se excede de la cantidad de carácteres sale "IndexError"

In [ ]:
len(cadena)

10

In [ ]:
cadena[11]

IndexError: string index out of range

Índices negativos cuentan desde el final: -1 es el último, -2 el penúltimo, y así sucesivamente.

In [ ]:
cadena[-1]

'o'

H:(-10) o:(-9) l:(-8) a:(-7) " ":(-6) M:(-5) u:(-4) n:(-3) d:(-2) o:(-1)

In [ ]:
cadena = "Hola Mundo"
print(cadena[-5])
print(cadena[-10])

M
H

**Paso 3.** Ahora te voy a explicar cómo recortar palabras

In [ ]:
nombre =  "José Andrés"
apellido = "Araya Obando"
nombre_completo = nombre + " " + apellido
print(nombre_completo)

José Andrés Araya Obando

In [ ]:
segundoNombre = nombre[5:11] # toma índices 5,6,7,8,9,10
print(segundoNombre)

Andrés

Nota que le indico que llegue hasta el índice 11 (pese a que el índice 10 es precisamente el último caracter de la palabra "Andrés"). Esto ocurre porque Python emplea la regla de "*inicio incluído, fin excluído*". Nota tambien que NO indicamos un valor único dentro de los corchetes sino que colocamos un rango de índices mediante los "dos puntos".

Si no se indica un valor específico dentro del rango, Python autocompleta hasta el final

In [ ]:
nombre_completo[5:]

'Andrés Araya Obando'

In [ ]:
nombre_completo[13:]

'raya Obando'

0:J 1:o 2:s 3:é 4:" " 5:A 6:n 7:d 8:r 9:é 10:s 11:"  "

In [ ]:
nombre_completo[:4] # Toma de cero hasta 4 sin incluir el 4

'José'

⏰Tómate una pausa

**Paso 4.** Ahora te voy a explicar cómo modificar las letras mayúsculas y minúsculas

↪ Acá a propósito coloco la cadena de carácteres alternando de manera aleatoria el uso de mayúsculas y minísculas para que me entiendas mejor.

In [ ]:
equipo = "gloRiOSo DEporTiVo saPrIssa"

"*upper*" pone todas las letras en mayúsculas

In [ ]:
equipo.upper()

'GLORIOSO DEPORTIVO SAPRISSA'

"*lower*" pone todas las letras en minúsculas

In [ ]:
equipo.lower()

'glorioso deportivo saprissa'

"*capitalize*" pone solo el primer carácter de toda la cadena en mayúscula

In [ ]:
equipo.capitalize()

'Glorioso deportivo saprissa'

*title* pone la primera letra de cada palabra en mayúscula

In [ ]:
equipo.title()

'Glorioso Deportivo Saprissa'

☣ Si en la cadena de carácteres hay espacios en blando a la izquierda o a la derecha, la sentencia "capitalize()" no se ejecutan

In [ ]:
nombre = " anDrés "
print(nombre)

 anDrés

In [ ]:
nombre.capitalize()

' andrés '

✅ Se pueden remover los espacios vacíos con la sentencia "strip"

In [ ]:
nombre.strip().capitalize() # se remueven los espacios en blanco a la izquierda y a la derecha

'Andrés'

In [ ]:
nombre.lstrip().capitalize() # se remueven los espacios en blanco a la izquiera

'Andrés '

In [ ]:
nombre.rstrip().capitalize() # se remueven los espacios en blanco a la derecha

' andrés'

**Tu primer programa**

Desarrolla un programa que le solicite al usuario su nombre completo y luego edite la entrada para desplegar la información en un formato estándar (solo la primera palabra en mayúscula) <br><br>
**Algoritmo:** <br>
1. Le solicita al usuario el nombre completo (para ello debes utilizar la sentencia input(). <br>
2. Debes pasar todo el texto a minúscula y colocar solo la primera letra de cada palabra en mayúscula <br>
3. Imprimes el resultado

In [ ]:
# Paso 1: Pedimos al usuario su nombre completo
# Dentro del input dejo el espacio en blanco luego de los dos puntos a propósito
nombreCompleto = input("Escriba su nombre completo: ")

# Paso 2: Convertimos cada palabra a minúscula y luego a mayúscula inicial
nombreCompleto = nombreCompleto.lower().title()

# Paso 3: Mostramos el resultado
print("El nombre con el texto ya editado es:", nombreCompleto)

Escriba su nombre completo: JoSÉ AndrES ARAya OBanDo
El nombre con el texto ya editado es: José Andres Araya Obando

⚡La sentencia **input()** se utiliza comunmente para pedir datos al usuario mientras el programa está en ejecución. Ten presente que el programa se detiene y espera a que la persona escriba algo en la consola y le de "enter". Lo que la persona escriba se devuelve siempre como una cadena de caractéres.

**Ejemplo demostrativo**: creación base datos registros

↪ Sencillamente dale correr a este programa, no hace falta que ahorita te esfuerces por comprender el código. Las estructuras que aparecen ahí las veremos más adelante. Por ahora quiero que ingreses al menos dos registros en el input y los coloques alternando las mayusculas y minúsculas de forma aletatoria. Luego quiero que notes que pese a que fuimos muy "descuidados" a lo hora de ingresar los registros (respecto al uso de mayúsculas y minúsculas) el programa es capaz de darle formato a las entradas y desplegar la información de una forma estandarizara en el data frame. ⏰ Quiero con este ejemplo demostrativo que notes lo útil que son estas sentencias que te he explicado para modificar cadenas de carácteres en Python.

In [ ]:
import pandas as pd
from datetime import datetime
from IPython.display import display

# Creamos el DataFrame con columnas renombradas
df = pd.DataFrame(columns=["Id", "Nombre completo", "Estado Civil", "Fecha de registro"])

id_persona = 1  # Contador que empieza en 1

while True:
    nombre = input("Escribe el nombre completo (o presiona Enter para terminar): ").strip()
    if nombre == "":
        break

    # Normalizamos el nombre
    nombre_normalizado = nombre.lower().title()

    # Pedimos el estado civil
    estado = input("Estado civil (Casado(a) / Soltero(a)): ").strip().title()

    # Obtenemos fecha y hora actual
    fecha = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

    # Guardamos en el DataFrame con ID incremental
    df.loc[len(df)] = [id_persona, nombre_normalizado, estado, fecha]
    id_persona += 1

    print("Guardado:", nombre_normalizado, "-", estado, "-", fecha)

# Mostrar el resultado con estilos
df_styled = (
    df.style
      .hide(axis="index")  # ocultamos el índice
      .set_properties(subset=["Nombre completo"], **{"text-align": "left"})
      .set_properties(subset=["Id", "Estado Civil", "Fecha de registro"], **{"text-align": "center"})
      .set_table_styles([
          {"selector": "th", "props": [("text-align", "center")]}  # encabezados centrados
      ])
)

print("\nResumen de personas registradas:")
display(df_styled)

Escribe el nombre completo (o presiona Enter para terminar): JOSE Andrés ARAYA obando
Estado civil (Casado(a) / Soltero(a)): CAsado
Guardado: Jose Andrés Araya Obando - Casado - 2025-09-05 04:46:25
Escribe el nombre completo (o presiona Enter para terminar): Sofía PiedRA Mora
Estado civil (Casado(a) / Soltero(a)): Soltera
Guardado: Sofía Piedra Mora - Soltera - 2025-09-05 04:46:39
Escribe el nombre completo (o presiona Enter para terminar):

Resumen de personas registradas:

**Paso 5.** También podemos buscar cadenas de carácteres con la función *find()*

In [ ]:
nombre = "José AndrES ARayA OBando" # creamos la cadena sin formato
nombre = nombre.lower().title() # damos formato
print(nombre) # verificamos resultado

José Andres Araya Obando

In [ ]:
nombre.find("dres") # devuelve el primer índice donde encuentra la cadena de caractéres

7

In [ ]:
nombre.find("drEs") # si devuelve -1 es que no encontró la cadena de carácteres indicada

-1

In [ ]:
"dres" in nombre # también se puede preguntar si la cadena se encuentra presente en la variable o no

True

In [ ]:
"drEs" in nombre

False

**Paso 6.** Ahora te voy a explicar cómo reemplazar carácteres con la sentencia replace( , )

In [ ]:
nombre = "José Andres ArayhA Ovando"
nombre = nombre.replace("dres","drés")
nombre = nombre.replace("yhA","ya")
nombre = nombre.replace("Ova","Oba")
print(nombre)

José Andrés Araya Obando

▶ Realmente .replace("texto_a_buscar", "texto_nuevo") no cambia la cadena original, sino que devuelve una nueva con reemplazos

⛹ Practica escribiendo tu nombre con un error ortográfico a propósito y luego utiliza replace() para corregirlo

In [ ]:
nombre = "Maria Lopéz"
nombre = nombre.replace("Lopéz", "López")
print(nombre)

Maria López

☝ Finalmente, te quiero explicar algo importante respecto al uso de las comillas.

In [ ]:
print (
""" Esto es una cadena de carácteres pero ...
¿cómo hago entences para acá mismo colocar una expresión entre comillas?"""
)

 Esto es una cadena de carácteres pero ...
¿cómo hago entences para acá mismo colocar una expresión entre comillas?

In [ ]:
print("Hola "mundo"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-14235203.py, line 1)

✔ Para que no salga error, debes indicarle con "\\" justo a la izquierda del symbolo especial (en este caso una comilla) para que lo vea como si fuera cualquier otro carácter en la cadena

In [ ]:
print("Hola \"mundo\" .... (ya con esto no va a salir un error)")

Hola "mundo" .... (ya con esto no va a salir un error)

<br>✌¡Excelente trabajo! Nos vemos 💯